<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056449833040-e6h17oam896e70isnkcmj2hm3fbpbdu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056449833040-e6h17oam896e70isnkcmj2hm3fbpbdu9</string>
	<key>API_KEY</key>
	<string>AIzaSyCr0XbfF4moO5TVbmkbWzuD7d8Pi4mD7Ac</string>
	<key>GCM_SENDER_ID</key>
	<string>1056449833040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Robin.Do</string>
	<key>PROJECT_ID</key>
	<string>studybuddy-7b1a8</string>
	<key>STORAGE_BUCKET</key>
	<string>studybuddy-7b1a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056449833040:ios:466d92265ceae6593ec955</string>
</dict>
</plist>